#main-content{
    width: 100%;
    height: 100%;
    margin: 1em;
    #playlist-conf-containner{
        width: 100%;
        height: 20em;
        #playlist-conf-content{
            display: flex;
            align-items: center;
            #playlist-conf-img img{
                width: 18em;
                height: 15em;
                cursor: pointer;
                border-radius: 10px;
            }
            #playlist-conf-details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                #playlist-conf-others{
                    #playlist-conf-others-link{
                        display: flex;
                        
                    }
                    #playlist-conf-others-link img{
                        width: 2.5em;
                        height: 2em;
                    }
                }
            }
        }
    }
}